html,
body {
	margin: 0;
  padding: 0;
  background: rgb(4,7,45);
  background: linear-gradient(339deg, rgba(4,7,45,1) 0%, rgba(8,3,25,1) 0%);
      }
.topnav {
  background-color: #ffffff00;
  overflow: hidden;
  opacity: 1;
  font-family: 'Share Tech Mono', monospace;
  font-size: 23px;
  font-weight: bold;
}
img {
  width: 400px;
  height: 400px;
  margin-left: 475px;
  margin-top: 0px;
}
.bl{
  width: 300px;
  height: 300px;
  margin-left: -10px;
  margin-right: auto;
  margin-top: -200px;
}
.ro{
  width: 200px;
  height: 200px;
  margin-left: 1100px;
  margin-right: auto;
  margin-top: -500px;
}
.ju{
  margin-left: 1000px;
  margin-right: auto;
  margin-top: 100px;
}
.startt{
  font-family: 'Share Tech Mono', monospace;
  color: #ffffff;
  font-weight: bold;
  margin-top: 100px;
  margin-left: 250px;
  font-size: 30px
}
.center {
  width: 275px;
  height: 350px;
  margin-left: 10px;
  margin-right: auto;
}
button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
		color: #ffffff;
        padding: 35px 120px;
        padding-right:0px;
        padding-left:200px;
		font-family: 'Share Tech Mono', monospace;
		font-size: 23px;
		font-weight: bold;
}
button:hover {
	color: #8786da;
}
.start {
  font-family: 'Share Tech Mono', monospace;
  color: #ffffff;
  font-weight: bold;
  margin-top: -100px;
  margin-left: 550px;
  font-size: 30px
  
}
.h{
  padding-left: 410px;
}
.resume {
  font-family: 'Share Tech Mono', monospace;
  color: #fffefe;
  padding-left: 575px;
  padding-top: 0px;
  font-size: 30px
  
}
.infoo {
  font-family: 'Share Tech Mono', monospace;
  color: #ffffff;
  font-size: 20px;
  padding-left: 350px;
  padding-right: 25px;
  margin-top: 100px;
  font-weight:bold;
}
.info {
  font-family: 'Share Tech Mono', monospace;
  color: #ffffff;
  font-size: 23px;
  padding: 0px 370px;
  font-weight: bold;
}
.blinking-cursor {
  font-weight: 100;
  font-size: 20px;
  color: #ffffff;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #ffffff
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #a39910;
  }
}

@-webkit-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #a39910;
  }
}

@-ms-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #a39910;
  }
}

@-o-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #a39910;
  }
}
